/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
!/.env
/public/Angularscripts/views/fooTable.html
/public/Angularscripts/views/fadeInModal.html
/public/Angularscripts/views/Modal_Experience.html
/public/Angularscripts/views/yesno.html
/public/Angularscripts/views/forModal.html
/public/Angularscripts/views/experience.html
/storage/uploads/
/nbproject/private/